langchain-openai
langchain-core
python-dotenv
streamlit
langchain-community
langserve
fastapi
uvicorn
sse-starlette
beautifulsoup4
pypdf
chromadb
faiss-cpu
groq
cassio
langchain-groq
wikipedia
arxiv
langchainhub
sentence-transformers
PyPDF2
bs4
pypdf
langchain-huggingface